body

{
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.v30_102 {
    width: 100%;
    height: 2806px;
    background: rgba(253,254,254,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v30_112 {
    width: 96px;
    height: 57px;
    background: url("../images/v30_112.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 164px;
    overflow: hidden;
}

.v30_113 {
    width: 161px;
    color: rgba(79,79,79,1);
    position: absolute;
    top: 91px;
    left: 801px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v30_114 {
    width: 76px;
    color: rgba(79,79,79,1);
    position: absolute;
    top: 91px;
    left: 1030px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v30_115 {
    width: 80px;
    color: rgba(79,79,79,1);
    position: absolute;
    top: 91px;
    left: 874px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v30_116 {
    width: 88px;
    color: rgba(79,79,79,1);
    position: absolute;
    top: 91px;
    left: 713px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v30_117 {
    width: 106px;
    color: rgba(79,79,79,1);
    position: absolute;
    top: 91px;
    left: 543px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v30_118 {
    width: 20px;
    color: rgba(62,163,219,1);
    position: absolute;
    top: 633px;
    left: 284px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v30_120 {
    width: 25px;
    color: rgba(62,163,219,1);
    position: absolute;
    top: 738px;
    left: 287px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v30_121 {
    width: 100%;
    height: 866px;
    background: url("../images/v30_121.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 212px;
    left: 380px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.v30_123 {
    width: 187px;
    height: 187px;
    background: rgba(62,163,219,1);
    opacity: 1;
    position: absolute;
    top: 936px;
    left: 425px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.v30_124 {
    width: 558px;
    color: rgba(253,254,254,1);
    position: absolute;
    top: 904px;
    left: 843px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 52px;
    opacity: 1;
    text-align: left;
}

.v30_125 {
    width: 18px;
    height: 18px;
    background: rgba(62,163,219,1);
    opacity: 1;
    position: absolute;
    top: 91px;
    left: 332px;
}

.v30_126 {
    width: 20px;
    height: 20px;
    background: rgba(62,163,219,1);
    opacity: 1;
    position: absolute;
    top: 90px;
    left: 380px;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.name {
    color: #fff;
}

.v30_131 {
    width: 70px;
    height: 25px;
    background: rgba(62,163,219,1);
    opacity: 1;
    position: absolute;
    top: 87px;
    left: 651px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.v30_132 {
    width: 52px;
    color: rgba(253,254,254,1);
    position: absolute;
    top: 91px;
    left: 660px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v35_78 {
    width: 296px;
    color: rgba(79,79,79,1);
    position: absolute;
    top: 1911px;
    left: 742px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}

.v34_204 {
    width: 100%;
    color: rgba(79,79,79,1);
    position: absolute;
    top: 1414px;
    left: 360px;
    font-family: Bai Jamjuree;
    font-weight: Medium;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}

.v35_76 {
    width: 359px;
    color: rgba(62,163,219,1);
    position: absolute;
    top: 1970px;
    left: 840px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v35_79 {
    width: 359px;
    color: rgba(62,163,219,1);
    position: absolute;
    top: 1970px;
    left: 742px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v34_272 {
    width: 61px;
    height: 74px;
    background: rgba(62,163,219,1);
    opacity: 1;
    position: absolute;
    top: 1801px;
    left: 742px;
}

.v101_44 {
    width: 960px;
    height: 2371px;
    background: url("../images/v101_44.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 112px;
    left: 0px;
    overflow: hidden;
}

.v30_119 {
    width: 187px;
    height: 187px;
    background: url("../images/v30_119.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 824px;
    left: 328px;
    border: 4px solid rgba(62,163,219,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.v30_122 {
    width: 660px;
    height: 486px;
    background: rgba(62,163,219,1);
    opacity: 1;
    position: absolute;
    top: 290px;
    left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.v30_133 {
    width: 346px;
    color: rgba(253,254,254,1);
    position: absolute;
    top: 409px;
    left: 169px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
}

.v34_202 {
    width: 429px;
    color: rgba(62,163,219,1);
    position: absolute;
    top: 1219px;
    left: 360px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
}

.v35_49 {
    width: 199px;
    color: rgba(79,79,79,1);
    position: absolute;
    top: 1799px;
    left: 360px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}

.v35_75 {
    width: 114px;
    color: rgba(79,79,79,1);
    position: absolute;
    top: 1799px;
    left: 840px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}

.v35_52 {
    width: 359px;
    color: rgba(62,163,219,1);
    position: absolute;
    top: 1858px;
    left: 360px;
    font-family: Aldrich;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v30_134 {
    width: 322px;
    color: rgba(253,254,254,1);
    position: absolute;
    top: 614px;
    left: 169px;
    font-family: Bai Jamjuree;
    font-weight: Medium;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.name {
    color: #fff;
}

.v34_269 {
    width: 80px;
    height: 67px;
    background: rgba(62,163,219,1);
    opacity: 1;
    position: absolute;
    top: 1696px;
    left: 360px;
}

.v34_254 {
    width: 67px;
    height: 54px;
    background: rgba(62,163,219,1);
    opacity: 1;
    position: absolute;
    top: 1709px;
    left: 840px;
}

}
